<div class="modal-header">
    <h2>{{project.name}}</h2>
    <button class="btn-close" (click)="modalRef.hide()"></button>

</div>
<div class="modal-body">
    <!-- <carousel>
         @for (pictures of project.pictures; track $index) {
            <slide><image src="{{pictures}}" alt="slide" style="display: block; width: 100%;"></slide>
         }
    </carousel> -->

    <br>
    <h3 class="mt-2">Description</h3>
    <p>{{project.description}}</p>
    <p>You can find this project on Github <a href="{{project.projectLink}}" target="_blank">here</a></p>

    <br>
    <div class="d-flex flex-wrap">
        @for (tags of project.tags; track $index) {
                <div class="tag me-2 mb-1" [style.background-color]="tags.color">{{tags}}</div>
            }
    </div>
</div>